<ion-header>

  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tablas </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        Grupo A
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasA">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card>
      <ion-card-header>
        Grupo B
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasB">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grupo C
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasC">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grupo D
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasD">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grupo E
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasE">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grupo F
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasF">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grupo G
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasG">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grupo H
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>No.</ion-col>
          <ion-col>Equipo</ion-col>
          <ion-col>Goles a favor</ion-col>
          <ion-col>Goles en contra</ion-col>
          <ion-col>Diferencia Goles</ion-col>
          <ion-col>Puntos</ion-col>
        </ion-row>
        <ion-row *ngFor="let tabla of tablasH">
          <ion-col>{{ tabla.rank}}</ion-col>
          <ion-col>{{ tabla.team}}</ion-col>
          <ion-col>{{ tabla.goals}}</ion-col>
          <ion-col>{{ tabla.goalsAgainst}}</ion-col>
          <ion-col>{{ tabla.goalDifference}}</ion-col>
          <ion-col>{{ tabla.points}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->
  </ion-grid>
</ion-content>