// page-ganadores {
//     .fixline{
//         height: 100px;
//         margin-bottom: 7px;
//     }
// }

.card-title {
    position: absolute;
    top: 20%;
    font-size: 5.0em;
    width: 100%;
    font-weight: bold;
    color: rgb(223, 210, 37);
    text-shadow: 2px -2px 1px #000
  }